*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  block-size: 100%;
  inline-size: 1200px;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

button {
  line-height: normal;
  background: none; 
  border: white 1px solid; 
  cursor: pointer; 
  width: 100%;
  height: 34px;
  color: #fff;
  padding: 5px;
  font-family:Fira Sans Condensed, sans-serif;
  font-weight: bold;
  font-size: 19px;
}
.content {
  display: flex;
  justify-content: center;
  align-self: center;
  min-width: 711px;
  margin: none;
  gap: 3%;
  padding: 22% 2% 0 2%;
}

fieldset {
  border: none;
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  width: 225px;
  border: none;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  padding-top: 6px;
  padding-bottom: 4px;
  color: #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline:1px rgb(255, 255, 255) solid;
  outline-offset: 1px;
}

.search-form__textfield:active {
  border: none;
  outline:1px rgb(255, 255, 255) solid;
}

.search-form__textfield::placeholder {
  font-size: 18px;
  font-family: Fira Sans Condensed, sans-serif;
  align-self: center;
}

.search-form {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 0.9fr;
  gap: 6%;
}

.search-form__label {
  width: fit-content;
  vertical-align: middle;
}

.content__list {
  max-height: 298px;
  position: relative;
  overflow-y: auto;
}

.content__details {
  width: 100vh;
  display: grid;
}

button {
  align-self: flex-end;
}

button:active {
  background-color: #545050;
}

button:hover {
  text-decoration: underline;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline:1px rgb(255, 255, 255) solid;
  outline-offset: 1px;
}

.search-form__label:not(:last-child) {
  margin-right: 10px;
}


input + .search-form__pseudo-checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-bottom: 2px;
  margin-left: 2px;
  background-color: transparent;
  outline: #fff 1.32px solid;
  vertical-align: middle;
  cursor: pointer;
}

input:checked +.search-form__pseudo-checkbox {
  width: 14.8px;
  height: 14.8px;
  outline: #fff 1.5px solid;
  outline-offset: 1.4px;
  background-color: #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 0.8px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px white solid;
}

.result__video-container {
  max-width: 730px;
  position: relative;
  margin-top: 78px;
}

.result__video {
  object-fit: cover;
  width: 719px;
  height: 388px;
}


.title {
  text-transform: uppercase;
  font-size: 78px;
  font-family: Oswald, sans-serif;
  line-height: 0.9;
}

.content__accent {
  color: #545050;
}

.search-form__fieldset-title {
  line-height: 0.9;
  font-weight: 100;
  font-size: 18.5px;
  padding-bottom: 10px;
}

.content__list-item:not(:last-child) {
  padding-bottom: 6%;
}

.content__card-link {
  text-overflow: ellipsis;
  max-width: 100%;
  color: white;
  text-decoration: none;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

.content__video-card {
  display: flex;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  flex-wrap: 1;
  max-width: 194px; 
}

.content__video-card-description {
  min-width: 103px;
}

.content__video-card-description-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link {
  margin: 2px;
  display: block;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid white;
}